
/* base */
* { margin: 0; padding: 0; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; outline: none; }
html, body { width: 100%; }
html { height: 100%; min-height: 100vh; overflow-y: scroll; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; min-width: 320px; margin: 0; }
body { font-family: 'NanumSquare', sans-serif; font-size: 14px; font-weight: 600; background: var(--white); color: var(--color900); line-height: 130%; letter-spacing: -0.5px; padding: 0; margin: 0; -webkit-overflow-scrolling: touch; }


h1, h2, h3, h4, h5, h6, p, a,button {  padding:0; margin: 0; line-height: 100%;}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button,a,span,em
{ margin: 0; padding: 0; box-sizing: border-box;   }

h1,h2,h3,h4,h5,h6 { font-weight: normal; font-size: 100%}
strong { font-weight: 800; }
input, select, textarea, button, label { font-size: 100%; vertical-align: middle; cursor: pointer; }
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/*placeholder*/
::-webkit-input-placeholder {font-size:14px; color: var(--color600);  vertical-align:middle; letter-spacing: -0.5px; font-weight: 500; font-family:'NanumSquare', sans-serif;  }
textarea::placeholder       {font-size:14px; color: var(--color600);  vertical-align:middle; letter-spacing: -0.5px; font-weight: 500; font-family:'NanumSquare', sans-serif; }

/*input*/
input {border:1px solid #ddd; font-size:16px;}
input:disabled {opacity:1; -webkit-text-fill-color:inherit}
input[type="text"],
input[type="search"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="button"]  { font-size: 17px; background: var(--white); color: var(--color900); border: 1px solid var(--color200); height: 46px; padding: 10px 16px 16px;
    font-weight: 700; border-radius: var(--radius6); outline: none; -webkit-appearance: none; -moz-appearance: none; appearance: none;
    transition: border-color .3s ease; cursor: pointer; font-family: 'NanumSquareNeo', sans-serif; }

input[type="text"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="number"]:focus {border:none;  background:var(--color200); border-radius:var(--radius6); color: var(--color900);  font-weight: 800; font-family:'NanumSquareNeo', sans-serif;   }  /*click*/

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {-webkit-appearance:none; margin:0;  border-radius: var(--radius6);}

textarea { font-family:'NanumSquareNeo', sans-serif;   width:100%; height: 150px; padding:10px; border-radius: var(--radius6); border:0; background: var(--color200); -webkit-box-sizing:border-box; box-sizing:border-box; resize:none;  -webkit-appearance:none; -moz-appearance:none; appearance:none;}




fieldset, img, iframe {border:0 none}
img {max-width:100%; height:auto; vertical-align:middle; border-style:none;}

em, address { font-style: normal}
a { text-decoration: none; background-color: transparent; vertical-align: middle; -webkit-text-decoration-skip: objects; color: inherit; word-break: break-word; cursor: pointer; }
a:hover, a:active, a:focus { text-decoration: none; }
menu,li { list-style: none}
button { font-family: 'NanumSquareNeo', sans-serif; border-radius: var(--radius6);  -webkit-appearance: none; -moz-appearance: none; appearance: none; margin: 0; padding: 0; text-align: center; text-decoration: none; border: none; background: transparent;  width: 100%; }

button, input {overflow:visible;}

caption {width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden}
hr {display:none; padding:0; margin:0; }

i,em,address{font-style:normal}
label {cursor:pointer}

table {width:100%; border-spacing:0; border-collapse:0; color:inherit; table-layout:fixed}
table td {word-wrap:break-word;}

/* 기본 토글 */
.toggleWrap .toggle-Switch  { width:50px; height: 26px; display: block; position: relative; border-radius: 30px; background-color:var(--color500);   cursor: pointer;  }
.toggleWrap .toggle-Switch .toggle-Button  { width: 20px; height: 20px; position: absolute; top: 50%; left: 3px; transform: translateY(-50%); border-radius: 50%; background: var(--white); }
.toggleWrap  #toggle:checked ~ .toggle-Switch { background: var(--mainColor1); }
.toggleWrap  #toggle:checked ~ .toggle-Switch .toggle-Button { left: calc(100% - 25px); background: var(--white); }
.toggleWrap .toggle-Switch, .toggle-Button  { transition: all 0.2s ease-in; }


/* basic check,radio */

input[type="checkbox"] {display:none !important;  }
input[type="checkbox"] + .checkBox { display: flex; align-items: center; gap:8px;    width:100%;     }
input[type="checkbox"] + .checkBox span {display:inline-block;  background:url('../assets/svg/check-box-off.svg')no-repeat center;  background-size:100%; width:24px !important; height:24px !important;  cursor:pointer;}
input[type="checkbox"]:checked + .checkBox span { background:url('../assets/svg/check-box-on.svg') no-repeat; background-size:100% auto;   }
input[type="checkbox"] + .checkBox .txt {  width:80%;     }
.btn-more-arrow   {     color: var(--opintColor1); font-size:12px;   display: flex; align-items: center;   margin-left: auto;  }



select { border: 1px solid var(--color200); background: var(--white); background-image: none; flex: 1; padding: 0 3px 0 14px; border-radius:var(--radius6);  cursor: pointer;  -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none; outline: 0;  box-shadow: none; }
select::-ms-expand { display: none; }
.select-default { position: relative; display: flex;  height: 40px; line-height: 3; background: var(--white); overflow: hidden; border-radius:var(--radius6); }
.select-default::after { content: '\25BC'; position: absolute; top: 0; right: 0; padding: 0 1em; ; cursor: pointer; pointer-events: none; transition: .25s all ease; }
.select-default:hover::after { color:var(--mainColor1); }
.select-default:focus { border: 1px solid var(--color200); box-sizing: border-box; border-radius: var(--radius6); color: var(--color900); background: var(--white); }

.select-default.roundselBox select{   border-radius:var(--radius100); padding: 0 20px;}
.select-default.roundselBox{   border-radius:var(--radius100); }


.radio-default{    }
.radio-default .rdo-label {   margin-bottom: 8px;    }
input[type="radio"] {display:none !important;}
input[type="radio"] + .rdo-label {}
input[type="radio"] + .rdo-label:last-child {margin-right:0; font-weight: 800; }
input[type="radio"] + .rdo-label span {display:inline-block;   background:url('../assets/svg/btn-radio-off.svg') no-repeat center; background-size:100%; width:20px; height:20px; margin:-3px 8px 0 0; vertical-align:middle; cursor:pointer;}
input[type="radio"]:checked + .rdo-label span {background:url('../assets/svg/btn-radio-on.svg') no-repeat center; background-size:100% ;   }


.radio-new { }
.radio-new:after {content: ""; display: table;  clear: both;}
.radio-new input[type="radio"]{ display: none;}
.radio-new input[type="radio"] + label{ display: inline-block; cursor: pointer; height: 46px;   display:flex; justify-content: center;  align-items: center;  /*margin-right:10px;*/ }
.radio-new input[type="radio"] + label{   border-radius: var(--radius6);   border: 1px solid var(--color300); }
.radio-new input[type="radio"]:checked + label{ background:#FFD2B9;  border: 1px solid var(--mainColor1);  }

.dropdown-menu{position: relative;  }
.dropdown-menu::before { content:""; position: absolute; top:14px; right:14px;  background:url('../assets/svg/arrow-down.svg') no-repeat; background-size:100% auto; width:20px; height:20px;}
.dropdown-menu .flag img{ position: absolute; top:15px; left:16px;  width:30px; }
.dropdown-menu.country input {padding-left:62px;}




:root {
    --mainColor1 : #27AE60;  /* 차분한 에메랄드 그린 */
    --mainColor2 : #229954;  /* 안정감 있는 포레스트 그린 */
    --mainColor3 : #1B5E20;  /* 깊이 있는 다크 그린 */

    --pointColor1: #ED3E73;
    --pointColor2: #E82C03;
    --pointColor3: #421DD9;
    --pointColor4: #6774E8;

    --lightColor1:#FFF7E3;
    --lightColor2:#E8F5E8;


    --white: #fff;
    --black: #000;
    --color900: #1F1F25;
    --color800: #33333D;
    --color700: #5F616D;
    --color600: #868793;
    --color500: #979AA3;
    --color400: #B6B7BE;
    --color300: #D9DBE0;
    --color200: #E7E9EB;
    --color100: #F7F7F8;

    --rgb-white: 255, 255, 255;
    --rgb-black: 0, 0, 0;

    --filterWhtie: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    --filter100: invert(95%) sepia(86%) saturate(295%) hue-rotate(263deg) brightness(110%) contrast(94%);
    --filter200: invert(18%) sepia(3%) saturate(2367%) hue-rotate(202deg) brightness(96%) contrast(90%);
    --filter300: invert(98%) sepia(1%) saturate(2181%) hue-rotate(185deg) brightness(89%) contrast(96%);
    --filter400: invert(83%) sepia(0%) saturate(1537%) hue-rotate(271deg) brightness(90%) contrast(92%);
    --filter500: invert(68%) sepia(16%) saturate(144%) hue-rotate(187deg) brightness(88%) contrast(89%);
    --filter600: invert(56%) sepia(6%) saturate(526%) hue-rotate(198deg) brightness(95%) contrast(87%);
    --filter700: invert(40%) sepia(17%) saturate(285%) hue-rotate(193deg) brightness(87%) contrast(84%);
    --filter800: invert(18%) sepia(8%) saturate(1034%) hue-rotate(202deg) brightness(91%) contrast(88%);
    --filter900: invert(9%) sepia(9%) saturate(859%) hue-rotate(201deg) brightness(101%) contrast(93%);

    --filterMain1: invert(52%) sepia(55%) saturate(3503%) hue-rotate(343deg) brightness(101%) contrast(101%);
    --filterMain2: invert(70%) sepia(94%) saturate(527%) hue-rotate(355deg) brightness(102%) contrast(101%);
    --filterMain3: invert(12%) sepia(19%) saturate(502%) hue-rotate(338deg) brightness(98%) contrast(87%);

    --filterpoint1: invert(39%) sepia(39%) saturate(6434%) hue-rotate(321deg) brightness(98%) contrast(89%);
    --filterpoint2: invert(20%) sepia(94%) saturate(5006%) hue-rotate(12deg) brightness(100%) contrast(98%);
    --filterpoint3: invert(19%) sepia(98%) saturate(3079%) hue-rotate(249deg) brightness(79%) contrast(121%);

    --radius4: 4px;
    --radius6: 6px;
    --radius8: 8px;
    --radius12: 12px;
    --radius14: 14px;
    --radius16: 16px;
    --radius100: 100px;

    --box-shadow1: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
    --box-shadow2: 0px 3px 3px 0px rgba(0, 0, 0, 0.02);
    --box-shadow3: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);
}



.inline-block { display: inline-block; }
.justify-content { justify-content: center; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.d-flex{ display: flex;}
.flex-direction { flex-direction: column !important;}
.col-gap10{ column-gap:10px ;}

.fontS16 { font-size: 16px; }
.radius100 { border-radius: var(--radius100) !important; }
.w-100{width:100px; }




/* 색깔 */
.bg-white { background: var(--white) !important; }
.bg-light-blue { background: #F4F5FF; }
.bg-light-grey { background: var(--color100); }
.pointColor1 { color: #ED3E73 !important; }
.pointColor2 { color: #E82C03 !important; }
.pointColor3 { color: #421DD9 ; }

.light-yellow { background: #FFF5CD; }
.light-orange { background:var(--lightColor1); }
.light-purple { background: #D5D1FF; }
.light-blue { background: #BFD1FF; }
.light-green { background: #CAFCF1; }


.bright-yellow { background: var(--mainColor2); color: var(--color900); font-weight: 800; }
.bright-brown { background: var(--mainColor1); color: var(--white); font-weight: 800; }
.bright-blue { background: #2D58F0; color: var(--white); font-weight: 800; }
.bright-green { background: #75CD1C ; color: var(--white); font-weight: 800; }
.bright-orange { background: var(--mainColor1); color: var(--white); font-weight: 800; }

/*** margin/padding *********************************/

.tb-space{padding:80px 0; }
.mag-all-30 {margin:30px; }
.pd-all-30  {padding:30px; }

@media all and (max-width:767px)  {
    .mag-all-30 {margin:10px 8px; }
    .pd-all-30  {padding:4px; }
}

.m0{margin: 0 !important;}
.mt0  {margin-top:0 !important;}
.mt3  {margin-top:3px !important;}
.mt5  {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt18 {margin-top:18px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px !important;}
.mt40 {margin-top:40px !important;}
.mt50 {margin-top:50px !important;}
.mt60 {margin-top:60px !important;}
.mt80 {margin-top:80px !important;}

.mt100 {margin-top:100px !important;}

.ml10{margin-left:10px !important;}
.ml15{margin-left:15px !important;}
.ml20 {margin-left:20px !important;}
.mtl20{margin:20px 0 0 20px; }

.mb0  {margin-bottom:0 !important;}
.mb3  {margin-bottom:3px !important;}
.mb5  {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mb15 {margin-bottom:10px !important;}
.mb20 {margin-bottom:20px !important;}
.mb30 {margin-bottom:30px !important;}
.mb40 {margin-bottom:40px !important;}
.mb50 {margin-bottom:50px !important;}
.mb60 {margin-bottom:60px !important;}
.mb100 {margin-bottom:100px !important;}

.mr5{ margin-right:5px;}
.mr20{ margin-right:20px;}

/* padding */
.pt30{padding-top:30px !important;}
.pt40{padding-top:40px !important;}
.pt50{padding-top:50px !important;}
.pt55{padding-top: 55px !important;}

.pb80 {padding-bottom:80px !important;}
.pb90 {padding-bottom:90px !important;}
.pb100 {padding-bottom:100px !important;}

.plr0{padding:0 0 !important; }

.plr16{padding:0 16px !important; }

/*** end *********************************/


.pageTopWrap { display: flex;  position: fixed; bottom: 80px; width: 100%;  z-index: 2; }
.pageTopWrap .btn-top{ background:var(--color700);  width: 60px; height: 60px;   border-radius: var(--radius100);  margin-left:auto;  margin-right: 16px;  display: flex; justify-content: center;  align-items: center;  }
.pageTopWrap .btn-top img { filter: invert(95%) sepia(38%) saturate(2%) hue-rotate(214deg) brightness(108%) contrast(101%);  height: 20px;  }



/*************** 버튼 ***************/
.pop-btn-wrap { padding: 40px  16px  16px; }
.footer-fix { position: fixed; width: 100%; bottom:0;  left:0;  right:0; background: var(--white);  padding: 16px;  min-width: 320px;  margin: 0 auto;  }
.bwRow {    margin: 0 auto; }
.bwhalf{ display:flex;  justify-content: space-between;    gap:10px;  width: 100%;   margin: 0 auto;}
.bwhalf button { flex-grow: 1;  }

/* color */
.btnMainColor1 { background: var(--mainColor1);  color: var(--white);  }
.btnMainColor2 { background: var(--mainColor2);  color: var(--color900);  }
.btnMainLine1  { border:1px solid var(--mainColor1); color: var(--mainColor1); background: var(--white);}

.btnMainLight1 { background: var(--lightColor2); border: 1px solid var(--mainColor1); color: var(--mainColor1);  }

.btnGray900 { background: var(--color900); color: var(--white); }
.btnGray700 { background: var(--color700); color: var(--white); }
.btnGray500 { background: var(--color500); color: var(--color800); }
.btnGray300 { background: var(--color300); color: var(--color800); }
.btnGray200 { background: var(--color200); color: var(--color800); }
.btnGray100 { background: var(--color100); color: var(--color800); }
.btnWhite { background: var(--white); color: var(--color800); }
.btnGray100Line { background: transparent; border: 1px solid var(--color210); color: var(--color700); }
.btnGray200Line { background: transparent; border: 1px solid var(--color200); color: var(--color800); }
.btnGray300Line { background: var(--white); border: 1px solid var(--color300); color: var(--color900); }
.btnGray100LineBg { background:var(--color100);; border: 1px solid var(--color200); color: var(--color800); }
.btnLightBg1 { background: var(--lightColor1);}

.btnPoint4 { background: var(--pointColor4); color: var(--white); }


/* hover */
.btnMainColor1:hover { position: relative; background: #B83700; }
.btnMainLine:hover { background:var(--lightColor2); color: var(--pointColor2);  }
.btnGray300:hover { background: var(--color600); color: var(--color300);  }

/* size */
.btnXXl { height: 80px; font-size:20px; display:flex; justify-content:center; align-items:center; letter-spacing: -1px; }
.btnXl  { height: 58px; font-size:16px; display:flex; justify-content:center; align-items:center; }
.btnX  { height: 54px; font-size:16px; display:flex; justify-content:center; align-items:center; }
.btnL  { height: 42px; font-size:14px; display:flex; justify-content:center; align-items:center;  }  /* input select 높이 동일 */
.btnM  { height: 40px; font-size:14px; display:flex; justify-content:center; align-items:center; padding:0 14px; }
.btnS  { height: 36px; font-size:14px; display:flex; justify-content:center; align-items:center; border-radius: var(--radius4) !important;}
.btnXs { height: 28px; font-size:12px; display:flex; justify-content:center; align-items:center; padding:0 8px; }




@media all and (max-width:320px)  {
    .btnXXl {   font-size:16px !important;  }

}

@media all and (max-width:767px)  {
    .btnXXl { height: 60px; font-size: 17px;  font-weight:800; }
    .btnXl  { height: 54px; font-size: 15px; }
    .btnX   { height: 48px; font-size: 15px; }
    .btnL   { height: 40px; font-size: 14px; }
    .btnM  { height: 36px; font-size: 14px; }
    .btnS  { height: 32px; font-size: 13px; }
    .btnXs { height: 28px; font-size: 12px; }
}




/* copyright*/
#footer { background: var(--white); border-top: 1px solid var(--color200);  padding:30px 0;  text-align: left; }
#footer .inner { width:1100px; margin: 0 auto; }
#footer .customer-service-center {   display:flex;   align-items:center;  gap: 10px;}

#footer .customer-service-center .ico {width: 54px; height: 54px; background: var(--color400);  display:flex; justify-content:center; align-items:center; border-radius: var(--radius100); }
#footer .customer-service-center .ico::after{ content:"" ; background:url('../assets/svg/ico-cs.svg')no-repeat center; width:26px; height:26px; background-size: 100%;  filter: var(--filterWhtie);  }
#footer .customer-service-center .cs-center { display: flex; flex-direction: column; gap: 10px;  margin-right: 20px;  }
#footer .customer-service-center .cs-center .tel {font-size:22px; font-weight: 700;   font-family: 'Exo 2', sans-serif;  }
#footer .customer-service-center .cs-center .info { color: var(--color700);   }

#footer .address { display: flex; flex-direction: column; gap: 4px;  padding-top: 25px;   color: var(--color600);  }
#footer .address li {   display: flex;  gap: 40px;  }
#footer .address li:nth-child(1) { font-size:16px; color: var(--color900); margin-bottom: 8px; }
#footer .address li span { position: relative; }
#footer .address li span::before{ content:""; position: absolute; top:3px; left: -22px;  width:1px; height: 12px;  background: var(--color600);  border-radius: var(--radius100);}
#footer .address li span:first-child:before { width:0; height: 0;  }


@media all and (max-width:767px)  {
    #footer .inner {width:100%; padding: 0 16px;  margin-bottom: 50px; }
    #footer .customer-service-center .cs-center .info {  font-size:12px;  display: flex; flex-direction: column; line-height: 115%;  }
    #footer .address    {  gap: 0px; font-size:12px}
    #footer .address li { gap: 2px; flex-direction: column;  }
    #footer .address li:nth-child(1) { display: flex; flex-direction: row; font-size:14px; gap: 10px;  margin-bottom: 4px;   }
    #footer .address li span::before{  display: none;  }
}


